.blockSettings {
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 1;
}

.info {
    padding: 1rem 0;
}

.heading {
    font-size: 1.125rem;
    font-weight: var(--fw-medium);
}

.settings {
    padding: 1rem 0;
}