.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 1rem;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.125rem;
}

.control input {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 0.25rem 0.3125rem;
    border-radius: 0.25rem;
}

.form button {
    cursor: pointer;
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    padding: 0.5rem 0.25rem;
    font-weight: var(--fw-medium);
    margin-top: 0.5rem;
}

.form button:hover {
    opacity: 0.8;
}